// - Imports -
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

//  - Vars -
// General
@font: 'Poppins';

// Font Weights
@fw-light: 300;
@fw-regular: 400;
@fw-medium: 500;
@fw-semi-bold: 600;
@fw-bold: 700;

// Colors
@color-primary: #d8eefe;
@color-primary-darken-bg-white: #90b4ce;
@color-primary-darken-bg-blue: rgba(@color-primary-darken-bg-white, 0.3);
@color-secondary: #094067;
@color-terciary: #ffffff;
@color-lightblue: #3da9fc;
@color-grey: #5f6c7b;
@color-lightgrey: #e5e5e5;
@color-btn-hover: #1797f9;

* {
    box-sizing: border-box;
    font-family: @font, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

section {
    height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    padding: 70px 80px;
}

header {
    scroll-snap-align: center;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px;
    width: 100%;
    min-height: 50px;

    font-size: 15px;
    color: @color-secondary;
    font-weight: @fw-medium;

    // Logo Text
    span {
        font-weight: @fw-semi-bold;
        font-size: 20px;
    }

    nav {
        text-align: center;
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            width: 100%;
            justify-content: center;

            li {
                margin: 0 1em;
                padding: 1em;

                a {
                    position: relative;
                    text-decoration: none;
                    font-weight: 600;
                    color: @color-secondary;

                    &::after {
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        content: '';
                        width: 0;
                        height: 3px;
                        transition: all 0.3s ease-in-out;
                    }

                    &:hover {
                        cursor: pointer;
                        &::after {
                            width: 100%;
                            background-color: @color-primary-darken-bg-white;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}

// General
.titleContainer {
    width: 500px;
    height: 100px;
    position: relative;
    z-index: 0;

    .title {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: flex-end;
        font-size: 50px;
        color: @color-secondary;

        transition: all 0.3s ease-in-out;
    }

    .dividerContainer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 30px;

        .divider {
            background-color: @color-primary-darken-bg-white;
            width: 100px;
            height: 7px;
            border-radius: 10px;

            transition: all 0.65s ease-in-out;
        }
    }

    &:after {
        font-size: 8rem;
        font-weight: bold;
        content: 'SecTitle';
        position: absolute;
        color: @color-primary-darken-bg-blue;
        line-height: 1;
        z-index: -1;
        bottom: 0px;
        display: inline-flex;
        width: 100%;
        justify-content: center;

        transition: all 0.65s ease-in-out;
    }

    &:hover {
        .title {
            opacity: 0;
        }

        &:after {
            font-size: 9rem;
            color: @color-lightblue;
        }

        .dividerContainer {
            .divider {
                width: 90px;
                background-color: @color-secondary;
            }
        }
    }
}

.container {
    width: 100%;
    height: 100%;
}

.btn,
.btnSecondary {
    background-color: @color-lightblue;
    font-weight: @fw-medium;
    color: @color-terciary;
    border: none;
    font-size: 13px;
    border-radius: 20px;
    width: 200px;
    min-width: 130px;
    height: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.25s ease-in-out;

    &:hover {
        font-weight: @fw-bold;
        cursor: pointer;
    }
}

.btn {
    &:hover {
        background-color: @color-btn-hover;

        outline: 2px solid @color-btn-hover;
    }
}

.btnSecondary {
    background-color: @color-terciary;
    font-weight: @fw-semi-bold;
    color: @color-secondary;
    border: 2px solid @color-secondary;

    &:hover {
        background-color: @color-secondary;
        color: @color-terciary;

        outline: 2px solid @color-secondary;
    }
}

// Home
#home {
    .container {
        display: flex;
        align-items: center;

        .left {
            width: 50%;
            height: 100%;
            max-height: 680px;
            display: flex;

            padding: 80px 40px;

            animation: fadein 2s;
            -moz-animation: fadein 2s; /* Firefox */
            -webkit-animation: fadein 2s; /* Safari and Chrome */
            -o-animation: fadein 2s; /* Opera */

            .content {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                .text {
                    display: flex;
                    flex-direction: column;

                    .one {
                        font-size: 45px;
                        font-weight: @fw-bold;
                        color: @color-secondary;
                        line-height: 1;
                    }

                    .two {
                        font-size: 30px;
                        font-weight: @fw-bold;
                        color: @color-primary-darken-bg-white;
                        margin-bottom: 10px;
                    }

                    .three {
                        font-size: 20px;
                        font-weight: @fw-light;
                        color: @color-grey;

                        span {
                            font-weight: @fw-regular;
                        }
                    }
                }

                .btns {
                    display: flex;

                    .btn {
                        margin-right: 20px;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .icons {
                    display: flex;
                    width: 10rem;
                    height: 45px;

                    a {
                        i {
                            font-size: 30px;
                            color: @color-secondary;

                            transition: all 0.25s ease-in-out;
                            margin-right: 10px;
                            margin-left: 10px;

                            &:hover {
                                font-size: 35px;
                                margin-right: 5px;
                            }
                        }

                        // GitHub
                        &:first-child {
                            i {
                                &:hover {
                                    color: #8739aa;
                                }
                            }
                        }

                        // LinkedIn
                        &:nth-child(2) {
                            i {
                                &:hover {
                                    color: #2e64bc;
                                }
                            }
                        }

                        // Instagram
                        &:last-child {
                            i {
                                &:hover {
                                    color: #d83472;
                                }
                            }
                        }
                    }
                }
            }
        }

        .right {
            height: 100%;
            width: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            animation: fadein 5s;
            -moz-animation: fadein 5s; /* Firefox */
            -webkit-animation: fadein 5s; /* Safari and Chrome */
            -o-animation: fadein 5s; /* Opera */

            img {
                height: 120%;
                width: 80%;
                min-width: 400px;
                border-radius: 40px;
                position: absolute;
                top: 0;
            }
        }
    }
}

// About Me
#aboutme {
    background-color: @color-primary;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .titleContainer {
            &:after {
                content: 'Profile';
            }
        }

        .content {
            display: flex;
            justify-content: space-evenly;

            p {
                font-weight: @fw-light;
                font-size: 20px;
                width: 40%;
                color: @color-grey;

                b {
                    font-weight: @fw-medium;
                }
            }
        }
    }
}

// Skills
#skills {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .titleContainer {
            &:after {
                content: 'Skills';
            }
        }

        .content {
            width: 80%;
            height: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .logo {
                height: 100px;
                width: 100px;
                padding: 10px;
                flex: 0 0 13%;
                display: flex;

                transition: all 0.25s ease-in-out;

                &:hover {
                    padding: 5px;
                }
            }

            .react {
                height: 100px;
                width: 100px;
                margin-left: -1%;
                margin-right: -2%;
            }

            .nodejs {
                height: 160px;
                width: 160px;
                margin-left: -5%;
                margin-right: -2%;
                margin-top: -35px;
            }

            .mongodb {
                width: 170px;
                margin-left: 1.5%;
            }
        }
    }
}

// Portfolio
#portfolio {
    background-color: @color-primary;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .titleContainer {
            &:after {
                content: 'Portfolio';
            }
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: 70%;

            .card {
                background-color: white;
                height: 100%;
                width: 20%;
                border-radius: 30px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                transition: all 0.25s ease-in-out;

                &:hover {
                    background-color: @color-primary-darken-bg-white;
                    box-shadow: 0 0 30px -10px @color-secondary;

                    .text {
                        .top {
                            .title,
                            .description {
                                color: @color-terciary;
                            }
                        }

                        .bottom {
                            .technologies {
                                color: @color-secondary;
                            }

                            .links {
                                color: @color-primary;
                            }
                        }
                    }
                }

                .project1 {
                    background: url(/assets/project1-min.png) no-repeat;
                }

                .project2 {
                    background: url(/assets/project2-min.png) no-repeat;
                }

                .project3 {
                    background: url(/assets/project3-min.png) no-repeat;
                }

                .project4 {
                    background: url(/assets/project4-min.png) no-repeat;
                }

                .img {
                    border-radius: 20px;
                    width: 100%;
                    height: 50%;
                    margin-bottom: 10px;

                    background-size: cover;
                    background-position: center;
                    box-shadow: inset 0 0 30px 5px rgba(@color-lightblue, 0.4),
                        inset 0 0 30px 90px rgba(@color-lightblue, 0.1);
                    filter: brightness(1.1);
                    filter: contrast(120%);
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 50%;

                    .top {
                        .title {
                            font-size: 18px;
                            font-weight: @fw-medium;
                            color: @color-secondary;
                        }

                        .description {
                            font-size: 13px;
                            margin-top: 5px;
                            font-weight: @fw-light;
                            color: @color-grey;
                        }
                    }

                    .bottom {
                        .technologies {
                            font-size: 11px;
                            font-weight: @fw-light;
                            color: @color-lightblue;
                        }

                        .links {
                            font-size: 12px;
                            text-transform: uppercase;
                            margin-top: 5px;
                            font-weight: @fw-regular;
                            color: @color-primary-darken-bg-white;

                            a {
                                &:first-child {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Contact
#contact {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .titleContainer {
            &:after {
                content: 'Contact';
            }
        }

        form {
            width: 30rem;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;

            *:not(:last-child) {
                width: 100%;
                height: 45px;
                padding: 10px;
                border-radius: 10px;
                border: 2px solid @color-lightgrey;
                color: @color-secondary;

                &::placeholder {
                    color: @color-primary-darken-bg-white;
                }
            }

            #message {
                padding: 10px;
                height: 140px;
                display: flex;
                align-items: flex-start;
                resize: none;
            }
        }
    }
}

footer {
    scroll-snap-align: center;

    background-color: @color-primary;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    height: 25vh;

    font-size: 15px;
    font-weight: @fw-medium;
    color: @color-secondary;

    span {
        width: 25%;

        &:last-child {
            text-align: end;
            font-weight: @fw-light;
            span {
                color: @color-primary-darken-bg-white;
                font-weight: @fw-medium;
            }
        }
    }

    .icons {
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        i {
            font-size: 30px;
            color: @color-secondary;

            transition: all 0.25s ease-in-out;

            &:hover {
                font-size: 35px;
            }
        }
    }
}

// Animations

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Desktops, large screens
@media (max-width: 1200px) {
}

// Small Screen, Laptops
@media (max-width: 1024px) {
    #home {
        .container {
            .left {
                width: 100%;
            }
            .right {
                display: none;
            }
        }
    }
}

// iPads, Tablets
@media (max-width: 768px) {
    header {
        padding: 5px 30px;

        nav {
            ul {
                li {
                    padding: 0;
                }
            }
        }
    }
    section {
        padding: 35px 40px;
    }

    #aboutme {
        .container {
            .content {
                flex-direction: column;
                align-items: center;

                p {
                    width: 100%;
                    &:first-child {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    #skills {
        .container {
            .content {
                width: 100%;
                height: 60%;
            }
        }
    }
}

// Mobile Devices
@media (max-width: 480px) {
    header {
        padding: 0;
        span {
            display: none;
            width: 0;
        }

        nav {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }

    .titleContainer {
        &::after {
            font-size: 5rem;
        }
        .title {
            font-size: 35px;
        }

        .dividerContainer {
            align-items: center;

            .divider {
                width: 80px;
                height: 5px;
            }
        }
    }

    #home {
        .container {
            height: 80%;
            .left {
                padding: 0;
                .content {
                    align-items: center;
                    .text {
                        align-items: center;
                        text-align: center;
                        .one {
                            font-size: 35px;
                        }

                        .two {
                            font-size: 20px;
                        }

                        .three {
                            font-size: 17px;
                        }
                    }
                    .btns {
                        flex-direction: column;
                        align-items: center;

                        .btn {
                            margin: 0;
                            margin-bottom: 20px;
                        }
                        .btnSecondary {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    #aboutme {
        .container {
            .content {
                text-align: center;
                p {
                    font-size: 17px;
                }
            }
        }
    }

    #skills {
        .container {
            .content {
                height: 70%;

                .logo {
                    height: 70px;
                    width: 70px;
                    flex: 0 0 20%;
                }

                .react {
                    height: 80px;
                    width: 80px;
                }

                .nodejs {
                    height: 130px;
                    width: 130px;
                    margin-left: -2%;
                }

                .mongodb {
                    width: 110px;
                    margin-right: -4%;
                }
            }
        }
    }
}
